@import "ember-bootstrap/bootstrap";
@import "ember-power-calendar";

.modal-backdrop {
  background-color: rgba(0,0,0,.3);
}

div.modal {
  display: block;
}

.rental-item-container {
  text-align: center;
  padding-top: 100px;

  a.rental-item {
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #ccc;
    text-decoration: none;
    margin: 10px;
    &:hover {
      background-color: #ddd;
    }
    img {
      width: 200px;
      height: 200px;
    }
    .name {
      color: #666;
      font-size: 14px;
      padding: 5px;
    }
  }
}

.ember-power-calendar {
  max-width: 300px;
  margin: 0 auto;
  background-color: #eee;
  .ember-power-calendar-row {
    height: 40px;
  }
}
